.container {
  max-width: 928px;
}

h1, h2, p, a {
  font-family: 'Helvetica Neue Thin', 'HelveticaNeue-Thin', 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: 100;
  margin-bottom: 20px;
}

h3 {
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 10px;
}

a {
  font-size:18px;
  font-weight: 200;
}

.main {
  height: 550px;
  padding-top: 55px;
}

.main p {
  font-size: 26px;
  font-weight: 200;  
  margin-bottom: 40px;
}

.section .row {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #dbdbdb;
}

.store {
  text-align: center;
  border-bottom: 0px;
  padding-bottom:100px
}

.footer {
  border-top: 1px solid #dbdbdb;
  background-color: #f3f3f3;
  padding: 20px 0px 80px;
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
}

.footer li {
  color: #999;
  font-weight: 600;
}

.col-md-6 .btn-col-6 {
  background-color: rgba(86, 146, 255, 0.9);
  border-radius: 4px;
  padding: 10px 10px;
  transition: box-shadow 0.5s;
  padding: 10px 10px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top:5%;
  margin-bottom:5%;
  text-align: center;
}

.col-md-6 .btn-col-6 a {
  color: #fff;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 70%;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}

.modal-box .modal-image {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { padding: 2em 1.5em; }
 
.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
 
a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}
 
a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}



@media (max-width: 500px) {
  .col-md-6 img {
    padding: 50px;
    width: 100%;
  }
  .modal-box { width: 70%; }
}